<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="FPFISQualityAssurance/Tests/phpunit-bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="FPFIS PHPCS Test Suite">
      <directory>QualityAssurance/Tests</directory>
    </testsuite>
  </testsuites>
  <!-- Filter for coverage reports. -->
  <filter>
    <blacklist>
      <directory>./vendor</directory>
    </blacklist>
  </filter>
</phpunit>
